<span class="p-float-label">
  <textarea
    id="float-input"
    rows="30"
    cols="80"
    pInputTextarea
    [(ngModel)]="proposedOperations"
  ></textarea>
  <label for="float-input">"Proposed Operation</label>
</span>
<p-button
  [disabled]="proposedOperations.length === 0 "
  label="Load Proposed Operations 1"
  (click)="processData($event)"
></p-button>
<p-button
  [style]="{'float':'right'}"
  [disabled]="proposedOperations.length === 0 "
  label="Clear Proposed Operations"
  (click)="processData($event)"
></p-button>
