<p>operations-data works!</p>

<p-panel header="Operations">
    <p-header>
      <!-- <button class="p-button-sm" pButton type="button" (click)="getElevation($event)" >Get Elevation</button> -->
    </p-header>
    
    <p-button label="Get Data"  (click)="getMyData($event)"></p-button>

    <p-table [value]="myData" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Month</th>
                <th>Dates</th>
                <th>Inflow</th>
                <th>Avg Inflow</th>
                <th>Outflow</th>
                <th>Avg Outflow</th>
                <th>EOM Content</th>
                <th>EOM Elevation</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-myData>
            <tr>
                <td>{{ myData.month }}</td>
                <td>{{ myData.dateRange }}</td>
                <td>{{ myData.inflow }}</td>
                <td>{{ myData.avgInflow }}</td>
                <td>{{ myData.outFlow }}</td>
                <td>{{ myData.avgOutFlow }}</td>
                <td>{{ myData.eomContent }}</td>
                <td>{{ myData.eomElevation }}</td>
            </tr>
        </ng-template>
    </p-table>

  </p-panel>
