/* td {
    padding:3px;
    background-color:chocolate;
}
tr {
    padding:3px;
    background-color: blueviolet;
} */

.p-field > * {
    margin-top: 50px;
    margin-bottom: 10px;
    display: block;
  }