
td.changed{ 
    background-color:rgb(147, 112, 219, .5); 
} 

.outflowdecrease {
    color: blue;
}

.outflowincrease {
    color: rgb(54, 184, 28);
}

.neutral {
    color: black;
}

/* See constants.ts file for CELL_CHANGE_COLOR*/
.valuechanged {
    color: rgb(112, 59, 217);
}

/* See constants.ts file for CELL_CHANGE_COLOR_TEST*/
.valuetextchanged {
    color: rgb(138, 43, 226);
}