
<main class="main">
  <div class="content">
    <p-tabView>
      <p-tabPanel header="Operations">
        <app-operations-data></app-operations-data>
      </p-tabPanel>
      <p-tabPanel header="Page 11">
        <app-operations-data></app-operations-data>
      </p-tabPanel>
      <p-tabPanel header="Elevation">
        <app-elevation></app-elevation>
      </p-tabPanel>
      <!-- <p-tabPanel header="Data Reader">
        <app-data-reader></app-data-reader>
      </p-tabPanel> -->
    </p-tabView>
  </div>
</main>


<router-outlet />
