@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
/*@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";*/
/* @import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/components/button/button.css";
@import "../node_modules/primeng/resources/components/dataview/dataview.css";
@import "../node_modules/primeng/resources/components/inputtextarea/inputtextarea.css";
@import "../node_modules/primeng/resources/components/inputtext/inputtext.css";
@import "../node_modules/primeng/resources/components/panel/panel.css";
@import "../node_modules/primeng/resources/components/toolbar/toolbar.css";
@import "../node_modules/primeng/resources/components/tabmenu/tabmenu.css";
@import "../node_modules/primeng/resources/components/splitbutton/splitbutton.css";
@import "../node_modules/primeng/resources/components/table/table.css";
@import "../node_modules/primeicons//primeicons.css"; */

/* @import "../node_modules/primeng/resources/themes/saga-blue/theme.css"; */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons//primeicons.css";

/* Set the background color of body to green */
body {
  background-color: rgb(26, 228, 80, 0.3);
}

/* On screens that are 600px or less, set the background color to 3990px */
@media screen and (max-width: 4000px) {
  body {
    background-color: rgb(183, 29, 226, 0.2);
  }
}

/* On screens that are 992px or less, set the background color to 3540px */
@media screen and (max-width: 3540px) {
  body {
    background-color: rgba(45, 29, 226, 0.5);
  }
}

/* .ui-widget,
.ui-widget .ui-widget
{
    font-size: 90% !important;
} */

/* reduce the font sizes */
html, body {
	font-size: 13px;
}
